[submodule "exegol-images"]
	path = exegol-images
	url = https://github.com/lsr00ter/Exegol-images.git
	branch = feat/local-build
[submodule "exegol-resources"]
	path = exegol-resources
	url = https://github.com/ThePorgs/Exegol-resources
	branch = main
